.Wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.GameBoard {
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: grid;
}

.GameBoardEASY {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-rows: auto;
    font-size: 36px;
}

.GameBoardNORMAL {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
    font-size: 32px;
}

.GameBoardHARD {
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    grid-auto-rows: auto;
    font-size: 24px;
}